<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz App</title>
  </head>
  <body>
      <h1> Welcome to Quiz App </h1>
      <h3> Please select a quiz from following: </h3>
      {% if latest_quiz_list %}
        <ul>
        {% for quiz in latest_quiz_list %}
           <h4>
             <li>
               <a href = {% url 'quiz:detail' quiz.id %}> {{ quiz.quiz_desc }}</a>
              </li>
            </h4>
        {% endfor %}
        </ul>
      {% else %}
          <p>No quizes are available.</p>
      {% endif %}
  </body>
</html>