// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

$font: 'Fira Sans', sans-serif;
$primary: #1C8EF9;
$secondary: white;

html {
  body {
    background:$primary;
    font-weight: 400;
    font-family: $font;
  }
}

.navbar-light {
  background-color: $secondary;
}

.content-wrapper {
  margin: 50px;
  margin-top: 65px;
  .content-inner {
    h3, h5 {
      text-align: center;
    }
    background: $secondary;
    padding: 50px;
    border-radius: 15px;
  }
  .form {
    display: grid;
    justify-content: center;
  }
}
