html body {
  background: #1C8EF9;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif; }

.navbar-light {
  background-color: white; }

.content-wrapper {
  margin: 50px;
  margin-top: 65px; }

.content-wrapper .content-inner {
  background: white;
  padding: 50px;
  border-radius: 15px; }

.content-wrapper .content-inner h3, .content-wrapper .content-inner h5 {
  text-align: center; }

.content-wrapper .form {
  display: grid;
  justify-content: center; }
